<% layout('./layouts/boilerplate') %>
    <h1>Edit this camp</h1>
    <form action=<%= `/campgrounds/edit/${campground._id}`%> method="post">
      <input type="text" name="title" value="<%= campground.title %>" />
      <input type="text" name="location" value="<%= campground.location %>" />
      <input type="text" name="description" value="<%= campground.description %>">
      <input type="text" name="image" value="<%= campground.image %>">
      <input type="number" name="price" value="<%= campground.price %>">
      <input type="submit" value="Edit" class="btn btn-success"/>
    </form>
